body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfRWjSNIdv0-9QXApJq8vVtQaONffU98ndjA&usqp=CAU);
    background-attachment: fixed;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: black;

}

img {
    height: 80px;
    width: 60px;
    margin-left: 280px;
    margin-top: 58px;
    position: absolute;
}
@keyframes move {
    from {
        left: 1%;
    }
    to {
        left: 85%;
    }
  }
  
  
  /* assign animation to ball element */
  #robot ,#spider {
    width:100px;
    height:100px;
    animation-duration: .13s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
    }

    @keyframes changewidth {
        from {
          transform: scaleY(1);

        }
      
        to {
          transform: scaleY(1.1);
        }
      }

      #spider{
        width: 150px;
        height: 53px;
        position: relative;
        margin: 10px auto 0;
        background-repeat: no-repeat;
        margin: 51vh;
        margin-left: -30vh;
       
    }
section{
  margin-right: -10vh;
  margin-top: 4vh;
  transform: rotateY(45deg);
 
}

#fume{
  margin-top: 6vh;
  margin-left: 35vh;
}
#light{
 transform: rotate(90deg);

height: 20px;
  margin-top: 6vh;
}

.btn1, .btn2{
  background-color: red;
  width: 6px;
  height: 6px;;
 position: absolute;
 
  border-radius: 50%;
animation: color;
  animation-duration: .6s;
  animation-iteration-count: infinite;  
  animation-direction: alternate;
}

@keyframes color {
  to {
    background-color: rgb(0, 0, 0);
  }

  from{
   background-color: red;
  }
}
.btn1{
  margin-left: 44.6vh;
  margin-top: 8.5vh;
}
.btn2{
  margin-left: 47.9vh;
  margin-top: 8.5vh;
}



